{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{% static 'timetable/css/admin.css'%}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <title>{{tt}}</title>
</head>
<style>
  td:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: scale(1.05);
  cursor: pointer;
  position: relative;
  z-index: 100;
}
</style>
<body>
  <div class="cover">
      <a href='/timetable'><i class="fa fa-arrow-left back"></i></a>
        <div class="board">
            <h1>Welcome {{tt}} !</h1><br><br>
            
            <div class="timetable table-responsive" id='download'>
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>08:00 - 09:00</th>
                        <th>09:00 - 10:00</th>
                        <th>10:00 - 11:00</th>
                        <th>11:00 - 12:00</th>
                        <th>12:00 - 01:00</th>
                        <th rowspan="6">  </th>
                        <th>02:00 - 03:00</th>
                        <th>03:00 - 04:00</th>
                        <th>04:00 - 05:00</th>
                    </tr>
                    <tr>
                        <th>Monday</th>
                        <td>{{tt.mon_8_9}}</td>
                        <td>{{tt.mon_9_10}}</td>
                        <td>{{tt.mon_10_11}}</td>
                        <td>{{tt.mon_11_12}}</td>
                        <td>{{tt.mon_12_1}}</td>
                        <td>{{tt.mon_2_3}}</td>
                        <td>{{tt.mon_3_4}}</td>
                        <td>{{tt.mon_4_5}}</td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td>{{tt.tue_8_9}}</td>
                        <td>{{tt.tue_9_10}}</td>
                        <td>{{tt.tue_10_11}}</td>
                        <td>{{tt.tue_11_12}}</td>
                        <td>{{tt.tue_12_1}}</td>
                        <td>{{tt.tue_2_3}}</td>
                        <td>{{tt.tue_3_4}}</td>
                        <td>{{tt.tue_4_5}}</td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td>{{tt.wed_8_9}}</td>
                        <td>{{tt.wed_9_10}}</td>
                        <td>{{tt.wed_10_11}}</td>
                        <td>{{tt.wed_11_12}}</td>
                        <td>{{tt.wed_12_1}}</td>
                        <td>{{tt.wed_2_3}}</td>
                        <td>{{tt.wed_3_4}}</td>
                        <td>{{tt.wed_4_5}}</td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td>{{tt.thur_8_9}}</td>
                        <td>{{tt.thur_9_10}}</td>
                        <td>{{tt.thur_10_11}}</td>
                        <td>{{tt.thur_11_12}}</td>
                        <td>{{tt.thur_12_1}}</td>
                        <td>{{tt.thur_2_3}}</td>
                        <td>{{tt.thur_3_4}}</td>
                        <td>{{tt.thur_4_5}}</td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td>{{tt.fri_8_9}}</td>
                        <td>{{tt.fri_9_10}}</td>
                        <td>{{tt.fri_10_11}}</td>
                        <td>{{tt.fri_11_12}}</td>
                        <td>{{tt.fri_12_1}}</td>
                        <td>{{tt.fri_2_3}}</td>
                        <td>{{tt.fri_3_4}}</td>
                        <td>{{tt.fri_4_5}}</td>
                    </tr>
                </table>
            </div>
        </div>
      <a id="download-button" href='#' class="download"><i class="fa fa-download"></i></button>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script>
    // download script
    $(document).ready(function () {
        var element = $("#download"); // global variable
        var getCanvas; //global variable
        html2canvas(element, {
            onrendered: function (canvas) {
                getCanvas = canvas;
            }
        });

        $("#download-button").on('click', function () {
            var imgageData = getCanvas.toDataURL("image/png");
            var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
            $("#download-button").attr("download", "TimeTable.png").attr("href", newData);
        });
    });

    const clrs=["#DD4124" ,"#00A170", "#D65076" , '#BC243C' , "#45B8AC" , "#5B5EA6" , "#9B2335" , "#C3447A" , '#6B5B95' ] ;
    const tds = document.querySelectorAll('td') ;
    var idx = 0 ;
    var obj = {"":'#88B04B'} ;
    tds.forEach((ele)=>{
      if (obj[`${ele.innerText}`]==null && ele.innerText!=""){
        obj[`${ele.innerText}`]=clrs[(idx++)%clrs.length] ;
      }
    })
    console.log(obj) ;
    tds.forEach((ele)=>{
    ele.style.backgroundColor=obj[`${ele.innerText}`] ;
    })
    // for(let i=1;i<39;i++){
    //   if(tds[i].innerText === tds[i-1].innerText && tds[i].innerText === tds[i+1].innerText){
    //     tds[i-1].innerText="";
    //     tds[i+1].innerText="";
    //   }
    // }
    
</script>
</html>