{% load socialaccount %} {% get_providers as socialaccount_providers %} {% for provider in socialaccount_providers %} {% if provider.id == "openid" %} {% for brand in provider.get_brands %}
<li>
    <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
</li>
{% endfor %} {% endif %}
<style>
    .signin{
        background-color: rgb(0, 0, 0, 0.4);
        border: 2px solid white;
        display: flex;
        align-items: center;
        padding:1.3vh 1vw;
        margin-top: 2vh;
        justify-content: center;
    }
    .mslogo{
        max-width: fit-content;
        max-height: fit-content;
    }
</style>
<li>
    <a class="signin   border-radius-2 inline text-white  gap-4   text-sm md:text-2xl h-12 " title="{{provider.name}}" style="text-decoration: none;" class="socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
      <div> <img class="mslogo " alt="Microsoft logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/32px-Microsoft_logo.svg.png"></div> 
       <div > Sign In with Outlook</div>
    </a>

    <!-- <a class="btn btn-primary btn-lg capitalise" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
        <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/>
        
      </svg> {{provider.id}}</a> -->
</li>
{% endfor %}