{% extends 'base.html' %} {% load static %} {% block title %} Inplace | Cepstrum {% endblock title %} {% block css %}
<style>
    .carousel-item-content {
        color: white;

        text-align: left;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.5vh;

    }

    .carousel-item-screen {
        color: white;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        aspect-ratio: 3/2 !important;
    }

    .container1 {
        margin-right: 0;

        margin-left: 0;

    }

    .background-black {
        width: 100%;
        height: 100%;
           background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }
    .background{
       
       background-image: url('/cepstrum/static/inplace/inplacecover.png');
        background-size: cover;
        background-repeat: no-repeat; 
       
   }
    .container2 {
        display: flex;
        flex-grow: 1;
    }
</style>

{% endblock %} {% block carousel %}
<div class="container2">
    <div
         class="background">
        <div class="background-black">
            <div class="carousel-item-content">

                <div class="text-2xl  md:text-5xl mb-4"><b>About <font color="yellow">Inplace</font>
                </div>
                <div class="text-lg md:text-2xl">
                 This series features articles by sophomores of the EEE department, chronicling their experiences at various conferences and contests as well as their adventures in exploring new fields and domains like Finance, Competitive Programming and Machine Learning.
                </div>
            </div>

        </div>
    </div>

</div>






{% endblock %} {% block content %}

<div class="container1 row row-cols-1 row-cols-md-2" style=" margin-top: 15vh;align-items:center;">
    {% for i in post_list %}

    <div class="col">
        <div class="card mb-3" style="max-width: 100%;">
            <img src="{{i.pic.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{% url 'inplace:detail' i.id %}">
                    <h5 class="card-title" style="color: black;">{{i.title}}</h5>
                </a>
                <p class="card-text"><small class="text-muted">Last updated on {{i.created_at}}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}