{% extends "bios/bio_base.html" %} {% block title %} Know Your Seniors | Cepstrum {% endblock title %} {% block navimg %}https://www.iitg.ac.in/storage/gallery/1/1205088503.jpg{% endblock navimg %} {% load bootstrap %} {% block navcontent %}

<h1>{{object}}</h1>
<details>
    <summary>Project Description</summary>
    <p>{{object.desc}}</p>
</details>
<details>
    <summary>Technical Skill Required</summary>
    <ul>
        {% for i in object.techskill.all %}
        <li>{{i}}</li>
        {% endfor %}

    </ul>
</details>
<details>
    <summary>People Involved in the project</summary>
    <ul>
        {% for i in bios %}
        <li>{{i}}</li>
        {% endfor %}

    </ul>
</details>



{% endblock navcontent %}