{% extends "bios/bio_base.html" %}
{% load bootstrap %}

{% block css %}
  <style>
    .column1 {
  float: left;
  width: 30%;
  padding: 5%;
}
.column2{
  float: center;
  width: 50%;
  padding: 5%;
}

.column3{
  float: right;
  width: 20%;
  padding: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  </style>
{% endblock css %}
  
  
{% block prepost %}
<div class="row" class="container">
  <div class="column1">
    <div class="card mx-3 my-5 col-md-15 w3-right w3 project">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">People Working on the Project</li>
        {% for i in bios %}
        <li class="list-group-item text-muted"><a href="{% url 'bios:bio_detail' i.id %}">{{i.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="column2">
    <div class="my-5">
      <h1 style="text-align: center;">{{object.name}}</h1>
      <p class="lead" style="text-align: center;">{{object.desc|safe|linebreaksbr}}</p>
    </div>
  </div>
  <div class="column3">
    <div class="card mx-3 my-5 col-md-15 w3-right w3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">Technical Skill Used</li>
        {% for i in object.techskill.all %}
        <li class="list-group-item text-muted">{{i}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if object.owner == request.user %}
  <div class="container" style="text-align: center;">
  <a href="{% url 'bios:project_update' object.id %}" class="btn btn-outline-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
    </svg></a>
  </div>
  {% else %}
  {% endif %}
</div>


<br>
<br>
<br>
<br>
<br>
{% endblock %}
