{% extends 'base.html' %} {% block title %} {{object}} | Cepstrum {% endblock title %} {% block css %}

<style>
    .carousel-item {
        height: 100%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }



    .carousel-item-content {


        text-align: center;
        width: 80%;
        font-size: 2vh;
    }

    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 10% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-button {
        color: white;
        background-color: #555555;
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .link-button:hover {
        text-decoration: none;
        color: white;
        background-color: #222222;
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .carousel {
        display: flex;
        flex-grow: 1;
    }
    .image_carousel img{
height: 100vh;
width: 100vw;
    }
    @media  screen and (max-width:600px) {
        .image_carousel img{
height: 50vh;
    }  
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
width: 4rem;
height: 4rem;
    }
</style>

{% endblock %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
    my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image:
        url('{{object.pic.url}}');">
            <div class="carousel-item-screen">
                <div class="carousel-item-content">
                    <h1 style="color:yellow  ;" class="text-lg sm:text-lg md:text-lg">{{object.name|safe}}</h1>
                    <div class="addthis_inline_share_toolbox"></div><br><br>
                    <h5 class="sm:text-sm md:text-2xl text-3xl">{{object.desc|safe}}</h5>
                </div>


            </div>

        </div>






        <!-- <div class="carousel-item" data-interval="9000">
      <video autoplay muted loop width="100%" height="130%" id="myVideo">
        <source src="https://drive.google.com/uc?export=download&id=1EZyLXoTGOUd2YLC11fzvXRCZ-vTVzta9" type="video/mp4">
      </video>

    </div> -->

    </div>

</div>

{% endblock %}

{% block content %}



 <div id="carouselExampleIndicators" class="carousel slide my-carousel
    my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for i in pictures_list %} {% if i.id == object.id %}
        <div class="carousel-item active image_carousel">
<img src="/media/celebration_list/20230124_220504.jpgrukya" alt="">

        </div>

        <div class="carousel-item " >
<img src="/media/{{i.pic2}}" alt="">
        </div>
        <div class="carousel-item " >
            <img src="/media/{{i.pic3}}" alt="">
        </div>
        <div class="carousel-item " >
            <img src="/media/{{i.pic4}}"  alt="">
        </div>
        <div class="carousel-item " >
            <img src="/media/{{i.pic5}}" alt="">
        </div>
        <div class="carousel-item " >
            <img src="/media/{{i.pic6}}" alt="">
        </div>
        {% endif %} {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="prev" style="c">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
    {% endblock content %}
