{% extends "base.html" %} {% load static %} {% block title %} Celebrations | Cepstrum {% endblock title %} {% block css %}
<style>
    .carousel-item {
        height: 100vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .content {
        text-align: center;
        padding-top: 5%;
        padding-right: 4%;
        padding-left: 60%;
        color: white;
    }
  
   
    
    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
      padding: 0% 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media  screen and (max-width:1000px) {
       .carousel-item{
        height: 92.4vh;
       }
    }
   
    .tabs-secondary {
        float: right;
        padding-top: 7%;
        padding-right: 5%;
      
        color: white;
        line-height: 200%;
    }
    
    .link-tab {
        color: #CCCCCC;
        text-decoration: none;
    }
    
    .link-active {
        color: white;
        font-weight: bold;
    }
</style>

{% endblock %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
    my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        {% for i in celebration_list %}



        <div class="carousel-item {% if i.id == 3 %}active{% else %}{% endif %}" style="background-image:
        url('{{i.pic.url}}'); opacity: 0.8;">

            <div class="carousel-item-screen">



                <div class="carousel-item-content text-lg md:text-2xl">
                    {{i.desc}}
                </div>
                <br>

                <a href="{% url 'celebration:celebration_detail' i.id %}" class="btn btn-outline-info text-lg md:text-2xl">
                   See Pics
                </a>


            </div>

            <!-- <div style="text-align: center; padding-top: 40%;">
                <a href="{% url 'celebration:celebration_detail' i.id %}">
                    <button id="pics">
                        See Pics
                    </button>
                </a>
            </div> -->

        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}