{% extends "base.html" %} {% load static %} {% block title %} Celebrations | Cepstrum {% endblock title %} {% block css %}
<style>
    .carousel-item {
   height: 100%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .content {
        text-align: center;
        padding-top: 5%;
        padding-right: 4%;
        padding-left: 60%;
        color: white;
    }
  
   
    
    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
      padding: 10% 20%;
      box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
   
    .tabs-secondary {
        float: right;
        padding-top: 7%;
        padding-right: 5%;
        box-sizing: border-box;
      
        color: white;
        line-height: 200%;
    }
    
    .link-tab {
        color: #CCCCCC;
        text-decoration: none;
    }
    
    .link-active {
        color: white;
        font-weight: bold;
    }
    .carousel-indicators{
        display:none ;
    }
    .carousel {
        display: flex;
        flex-grow: 1;
    }
    .carousel-item-content{
        font-size: 1.5rem;
    }
    @media screen and (max-width:1100px) {
        .carousel-item-content{
        font-size: 1rem;
    } 
    }
</style>

{% endblock %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
    my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        {% for i in celebration_list %}



        <div class="carousel-item {% if forloop.counter == 1 %}active{% else %}{% endif %}" style="background-image:
        url('{{i.pic.url}}'); opacity: 0.9;">

            <div class="carousel-item-screen">
                <h1 style="color:yellow ;font-weight:700;" class="text-4xl sm:text-3.5xl md:text-4xl">{{i.name|safe}}</h1>
                <br>
                <div class="carousel-item-content   ">
                    {{i.desc}}
                </div>
                <br>

                <!-- <a href="{% url 'celebration:celebration_detail' i.id %}" class="btn btn-outline-info text-xs md:text-2xl lg:text-3xl">
                   See Pics
                </a> -->


            </div>

        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}