{% extends "base.html" %} {% load static %} {% block title %} Talk | Cepstrum {% endblock title %} {% block css %}
<style>
    .carousel-item {
        height: 100vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

{% endblock %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        {% for i in talk_list %}

        <div class="carousel-item {% if i.id == 1 %} active {% endif %}" style="background-image:
            url('{{i.pic}}');">
            <div class="carousel-item-screen">


            </div>

        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}