<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/stylewise.css">
    <link rel="icon" href="/cepstrum/static/images/Group1.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock title %}</title>

    {% block head %} {% endblock head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Nunito:wght@400;500&family=Orbitron&family=Pacifico&family=Poppins&display=swap');
body{
    cursor: default;
}
    .my-nav {

        z-index: 10;
        width: 100%;
        padding: 20px 5%;
        background-color: rgb(0, 0, 0, 1);
        backdrop-filter: blur(4px);
      
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
    }

    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      
    }
    .body1 {
   
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler:focus {

        box-shadow: 0 0 0 2px;
    }

    body {
        background-color: white;
        color: black;
    }

    .nav-link {
        padding-left: 1vw !important;
        padding-right: 1vw !important;
    }

    @media only screen and (max-width: 1000px) {
        .my-nav {
            position: sticky;
            top: 0;
            padding: 10px 2%;
        }

        .navbar-toggler-icon {
            font-size: 0.8rem;
        }

        .navbar-brand {
            width: 60%;
        }

    }
   
</style>

{% block css %} {% endblock css %}



<body>
    
<div class="body1">
    <div class="body">
        <nav class="my-nav navbar navbar-expand-lg {% block navbar %}navbar-dark{% endblock navbar %}">
            <div class="container-fluid">
                <!-- https://drive.google.com/uc?id=19n1ov4OCin6-m5CszF7W1CMke4ZG9yDP -->
                <a class="navbar-brand" href="{% url 'home' %}"> <img src="/cepstrum/static/images/logo.svg"
                        style="opacity: 1;width:40%;min-width:70px; height:40%;" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end;">
                    <ul class="navbar-nav mb-2 mb-lg-0">

                        <!-- <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Initiatives
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'inphase:all' %}">Inphase</a>
            <a class="dropdown-item" href="{% url 'inplace:all' %}">Inplace</a>
            <a class="dropdown-item" href="{% url 'inked_intellects:all' %}">Inked Intellects</a>
            <a class="dropdown-item" href="{% url 'paperman:all' %}">Paperman</a>
          </div>
        </li>
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'celebration:all' %}">Celebrations</a>
          </div>
        </li> -->
                        <li class="nav-item active NavItem ">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Initiatives
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'inphase:all' %}">Inphase</a></li>
                                <!-- <li><a class="dropdown-item" href="https://medium.com/inplace/">Inplace</a></li> -->
                                <li><a class="dropdown-item" href="{% url 'inplace:all' %}">Inplace</a></li>
                                <li><a class="dropdown-item" href="{% url 'paperman:all' %}">PaperMan</a></li>
                                <li><a class="dropdown-item" href="{% url 'inked_intellects:all' %}">Inked Intelect</a>
                                </li>
                                <li><a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1XBDo5w4SpHgahtuIakB6RUJC6hJlqZrAfhx5-T0gso8/edit?usp=sharing" target="_blank">Department Library Catalogue</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'inplex:all' %}">Inplex | Intern</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Inplex | Intern</a></li>
                                {% endif %}
                                <!-- <li> <a class="dropdown-item" href="{% url 'timetable:index' %}">Timetable</a></li> -->
                                <!-- <li><a class="dropdown-item" href="{% url 'core:home' %}">Mechendise</a> </li> -->
                                <!-- <li><a class="dropdown-item" href="{% url 'dp:all' %}">Donation</a></li> -->



                            </ul>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'celebration:all' %}">Celebrations</a></li>
                                <!-- <li><a class="dropdown-item" href="{% url 'talk:all' %}">Lectures/Workshop</a></li> -->

                            </ul>
                        </li> 
                        <!-- {% if user.is_authenticated %}
                    <li class="nav-item dropdown active" class="">
                        <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Current Campus Junta
          </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'bios:all' %}">Profiles of Seniors</a> {% if not user.bio %}
                            <a class="dropdown-item" href="{% url 'bios:bio_create' %}">CREATE Bio</a> {% endif %}
                            <a class="dropdown-item" href="{% url 'bios:project_list' %}">Project List</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active" class="">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alumni
          </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'alumni:all' %}">Profiles of Alumni</a> {% if not user.alumni_bio and not user.bio %}
                            <a class="dropdown-item" href="{% url 'alumni:alumni_create' %}">CREATE Bio</a> {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown active" class="">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account Management
          </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'account_email' %}">Update Email</a>
                            <a class="dropdown-item" href="{% url 'account_set_password' %}">Set your password</a>
                        </div>
                    </li>
                    {% else %} 
                    {% endif %} -->
                        <li class="nav-item active NavItem ">
                            <a class="nav-link" aria-current="page" href="{% url 'team:all' %}">Team</a>
                        </li>
                        {% if 'AR' in user.groups.all.0.name %}
                        <li class="nav-item active NavItem ">
                            <a class="nav-link" aria-current="page" href="{% url 'timetable:adminpanel' %}">Timetable
                                Admin</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu">
                                <center>
                                    <li><a class="list-group-item disabled">{{user.first_name}}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                                </center>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item active NavItem ">
                            <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>

        </nav>


        {% block carousel %} {% endblock carousel %}
     
     </div>
    {% block content %} {% endblock content %}

</div>
    {% block js %} {% endblock js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>