
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/stylewise.css">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <title>Home | Cepstrum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <style>
  .my-nav{
position: absolute;
z-index: 10;
width: 100%;
}


body{
  background-color: black;
  color: white;
}





</style>

{% block css %}
  
{% endblock css %}
  
  <body>
<!-- loader -->

<!-- loaderend -->
<nav class="my-nav navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"> <img
      src="https://www.iitg.ac.in/cepstrum/common/logo.svg"
      width="40%" height="40%" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Current Campus Junta
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'bios:all' %}">Profiles of Seniors</a>
            {% if not user.bio %}
            <a class="dropdown-item" href="{% url 'bios:bio_create' %}">CREATE Bio</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'bios:project_list' %}">Project List</a>
          </div>
        </li>
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alumni
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'alumni:all' %}">Profiles of Alumni</a>
            {% if not user.alumni_bio and not user.bio %}
            <a class="dropdown-item" href="{% url 'alumni:alumni_create' %}">CREATE Bio</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account_email' %}">Update Email</a>
            <a class="dropdown-item" href="{% url 'account_set_password' %}">Set your password</a>
          </div>
        </li>
        {% else %}

        {% endif %}
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Initiatives
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'inphase:all' %}">Inphase</a>
            <a class="dropdown-item" href="{% url 'inplace:all' %}">Inplace</a>
            <a class="dropdown-item" href="{% url 'inked_intellects:all' %}">Inked Intellects</a>
            <a class="dropdown-item" href="{% url 'paperman:all' %}">Paperman</a>
          </div>
        </li>
        <li class="nav-item dropdown active" class="">
          <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'celebration:all' %}">Celebrations</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="{% url 'team:all' %}">Team</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
        {% endif %}
    </div>
      </ul>

    </div>
  </div>
</nav>


{% block carousel %}
  
{% endblock carousel %}

{% block content %}
  
{% endblock content %}


{% block js %}
  
{% endblock js %}
  
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>