
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/stylewise.css">
  <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
  <title>Team | Cepstrum</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="paperman/paperman.min.css?v={a}">
</head>

<style>
  .my-nav {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  body {
    background-color: black;
  }

  .content {
    text-align: center;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 50%;
    color: white;

  }

  .card-body {
    text-align: center;
  }

  .list-group-item {
    text-align: center;
  }

  .modal-header {
    background-color: black;
  }

  .modal-title {
    color: white;
  }

  .btn-close {
    background-color: black;
    color: white;
  }

  h3 {
    text-align: center;
  }
</style>

<body>

  <nav class="my-nav navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> <img src="common/logo.svg" width="40%" height="40%" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="color: white;" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Initiatives
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="inphase.html">Inphase</a>
              <a class="dropdown-item" href="paperman.html">Paperman</a>
              <a class="dropdown-item" href="https://jayantjaiswal.pythonanywhere.com/">Know Your Seniors</a>
              <a class="dropdown-item" href="easylabs.html">Easylabs</a>
              <a class="dropdown-item" href="https://medium.com/inplace/">InPlace</a>
            <a class="dropdown-item" href="https://medium.com/inked-intellects">Inked-Intellects</a>
              <!-- <a class="dropdown-item" href="hoeee.html">Humans of EEE</a> -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="celebrations.html">Celebrations</a>
              <a class="dropdown-item" href="lectures.html">Lectures</a>
              <a class="dropdown-item" href="workshops.html">Workshops</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" aria-current="page" href="team.html">Team</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div style=" background-color: white; background-image: url('paperman/superman.svg'); background-size: 1550px; background-repeat: no-repeat;">

        <div class="title" style="text-align: center; padding-top: 10%;">
          <h1 class="flag" aria-label="PAPERMAN">
            <span class="char1" aria-hidden="true">P</span>
            <span class="char2" aria-hidden="true">A</span>
            <span class="char3" aria-hidden="true">P</span>
            <span class="char4" aria-hidden="true">E</span>
            <span class="char5" aria-hidden="true">R</span>
            <span class="char6" aria-hidden="true">M</span>
            <span class="char7" aria-hidden="true">A</span>
            <span class="char8" aria-hidden="true">N</span>
          </h1>
        </div>

        <div class="description" style="text-align: center; padding-top: 3%;">
          <p>
            Not only the hero you need, but also the one you deserve! Paperman is one of it's kind initiative by
            Cepstrum
            with the sole aim of creating a repository of past question papers and study resources to aid your academic
            needs. We have all the courses of first year and B.Tech courses taught by Department of EEE covered.
          </p>
        </div>

        <br>
        <div>
          <h3>Choose your year:</h3>
        <ul class="headers">
          <li><a href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EuQ5luYjd-JNsnD7V_VNmN0BQb55lewXQlSAQ2Q9aZFdOA" class="raise">Freshmen Year</a>
          </li>
          <li><a href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EokGx0Y6uEBNgpMSR1vdYHYBaBH2PGmHbr50kV6vWWC-Cw" class="raise">Sophomore Year</a>
          </li>
          <li><a href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EhyI3mgdL0dHoINTwFbnhIcBTA21DE-2v_UasUyfj8Ii7A" class="raise">Pre-Final Year</a>
          </li>
          <li><a href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EuxljiN2e55DhlZLwYZl3JgBD2V6HWr_HHL9oQnUNHthxQ"
              class="raise">Final
              Year</a></li>
        </ul>

        <h3>Want to share?</h3>
        <p class="upload">Do you have question papers or tutorials pertaining to B Tech courses taken by Department of
          EEE,
          IITG? Please click the link below and upload them in the right folders.<br><span>Thank you!</span></p>
        <ul class="headers">
          <li><a href="https://drive.google.com/open?id=1JJUr-VX7niweXeFGN1_GXsSMMmhZ8JkS" class="raise">Upload</a></li>
        </ul>
        </div>
      </div>
      
    </div>

  </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

  
</body>

</html>