@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
}
.bg{
    /* background-image:linear-gradient( 
        270deg
        , rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url('/static/images/bg2.png'); */
        background-image: url('/static/images/bg2.png');;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: all 1s;
    z-index: -100;
}
.cover{
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}
.board{
    margin-top: 50px;
    text-align: center;
}
.progress{
    position:absolute;
    top:0;
    left:0;
    height:110%;
    width:110%;
    z-index: -99;
    background-color: #008000;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.roll-input{
    height:70px;
    margin-top: 50px;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    padding: 20px auto;
    text-align: center;
    background-color: rgb(221, 169, 169,0);
    border: 5px solid rgb(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    letter-spacing: 10px;
    transition: all 0.5s;
}
.roll-input:focus{
    border: 5px solid rgb(255,255,255,1);
    box-shadow: 0px 0px 40px 0px rgb(255, 255, 255);
}

.go{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height:60px;
    width:200px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 50px;
    background-color: rgb(255,255,255,0);
    border: 3px solid #2ECC71 ;
    border-radius: 10px;
    position:relative;
    overflow: hidden;

}

input:focus{
    outline: none;
}

.signin{
    color: rgb(221, 212, 212);
    font-size: 2rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.signin:hover{
    color: #fff;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}