{% extends "base.html" %} {% load humanize %} {% load bootstrap %} {% load static %}{% block title %} Paperman | Cepstrum {% endblock title %} {% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Nunito:wght@500&family=Pacifico&family=Poppins&display=swap');
    .carousel-item {
        height: 100vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .content {
        text-align: center;
        padding-top: 5%;
        padding-right: 4%;
        padding-left: 60%;
        color: white;
    }
    
    .carousel-item-content {
        /* margin-top: 20%;
  margin-left: 15%;
  margin-right: 30%; */
        font-size: 24px;
    }
    
    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 15% 20% 0 15%;
    }
    
    .link-button {
        color: white;
        background-color: #555555;
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .link-button:hover {
        text-decoration: none;
        color: white;
        background-color: #222222;
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: unset;
    }
    a:hover{
        color: yellow;
    }

    .headers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-decoration: none;
        gap: 10px;
    }
    .raise{
        width: 15vw;
        border: 2px solid yellow;
        padding: 10px;
        font-size: 1.1rem;
        font-family: 'Poppins';
        display: inline-block;
        flex-wrap: nowrap;
        justify-content: center;
    }
</style>

{% endblock %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
    my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background: rgb(16,6,35);
        background: linear-gradient(326deg, rgba(16,6,35,1) 0%, rgba(26,2,105,1) 100%);">
            <div class="carousel-item-screen">
                <div class="carousel-item-content">
                    <h1 class="text-2xl mt-5 md:text-5xl md:mt-2"><b>About <font color="yellow">Paperman</font> </b> </h1>
                    <br>
                    <p class="text-lg md:text-2xl">
                        Not only the hero you need, but also the one you deserve! Paperman is one of its kind initiative by Cepstrum with the sole aim of creating a repository of past question papers and study resources to aid your academic needs. We have all the courses of
                        first year and B.tech courses taught by Department of EEE covered.
                    </p>
                    <br><br>
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Filter out your Course
                      </button> -->
                      
                      
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: black;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Filter out your Course</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="GET" class="">
                                        {{filter.form|bootstrap}}

                                        <a href="{% url 'paperman:all' %}" class="btn btn-secondary">Clear</a>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            
        </div>
        
        
        
        
        
        
        <!-- <div class="carousel-item" data-interval="9000">
            <video autoplay muted loop width="100%" height="130%" id="myVideo">
                <source src="https://drive.google.com/uc?export=download&id=1EZyLXoTGOUd2YLC11fzvXRCZ-vTVzta9" type="video/mp4">
            </video>
            
        </div> -->
        
    </div>
    
    
</div>

{% endblock %} {% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    .year-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(326deg, rgba(16,6,35,1) 0%, rgba(26,2,105,1) 100%);
        font-weight: 700;
        font-size: 1.4rem;
        color: #fff;
        overflow: hidden;
        position: relative;
    }
    .year-card:hover{
        transform: scale(1.01);
    }
    .year-card::before{
        color: rgba(216, 211, 161, 0.2);
        position: absolute;
        width: 50%;
        height: 50%;
        font-size: 24vw;
        top: -70%; 
        left: -2%;
        font-weight: 900;
        transition: all 0.5s linear;
    }
    
    .year-card:hover::before{
        top: -50%;
    }
    .first::before{
        content: "1";
    }
    .second::before{
        content: "2";
    }
    .third::before{
        content: "3";
    }
    .forth::before{
        content: "4";
    }
</style>
<div class="container h-screen grid grid-cols-1 gap-5 md:grid-cols-2  w-3/4 text-center mt-4 p-2 py-5 md:gap-5">
  <a class = "year-card first" target=”_blank” href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EuQ5luYjd-JNsnD7V_VNmN0BQb55lewXQlSAQ2Q9aZFdOA" >
      Freshmen Year
  </a>
  <a class = "year-card second" target=”_blank” href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EokGx0Y6uEBNgpMSR1vdYHYBaBH2PGmHbr50kV6vWWC-Cw" >
      Sophomore Year
  </a>
  <a class = "year-card third" target=”_blank” href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EhyI3mgdL0dHoINTwFbnhIcBTA21DE-2v_UasUyfj8Ii7A" >
      Pre-final Year
  </a>
  <a class = "year-card forth" target=”_blank” href="https://iitgoffice-my.sharepoint.com/:f:/g/personal/cepstrum_iitg_ac_in/EuxljiN2e55DhlZLwYZl3JgBD2V6HWr_HHL9oQnUNHthxQ" >
      Final Year
  </a>
</div>




<!-- <br><br> -->
<!-- <div id="main">
    {% if paperman_list %}
    <div class="row">
        {% for i in filter.qs %}
        <div class="col-xs-12 col-sm-4 col-md-4">

            <div class="card mx-5 my-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-muted">{{i.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <div class="card-footer" style="text-align: center;">
                        <a href="{{i.upload.url}}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
						  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
						  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
						</svg></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div> -->

{% endif %} {% endblock %}