{% extends "base.html" %}
{% load humanize %}
{% load bootstrap %}
{% block content %}
<br><br><br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Filter
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: black;">
	<div class="modal-dialog modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
		<div class="modal-body">
			<form method="GET" class="">
				{{filter.form|bootstrap}}
				<button type="submit" class="btn btn-primary">Search</button>
				<a href="{% url 'paperman:all' %}" class="btn btn-secondary">Clear</a>
				
			</form>
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>
  <br><br>
<div id="main">
	{% if paperman_list %}
	<div class="row">
		{% for i in filter.qs %}
		<div class="col-xs-12 col-sm-4 col-md-4">

			<div class="card mx-5 my-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-muted">{{i.name}}</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text text-muted"></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

{% endif %}
{% endblock %}

