{% extends "base.html" %}{% load bootstrap %}{% load crispy_forms_tags %} {% block title %} Inplex | Cepstrum {% endblock title %} {% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Nunito:wght@500&family=Pacifico&family=Poppins&display=swap');
    .carousel-item {
        height: 50vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .carousel-item-content {
        /* margin-top: 20%;
  margin-left: 15%;
  margin-right: 30%; */
        font-size: 24px;
    }
    
    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 10% 7% 0 5%;
    }
</style>

{% endblock %}{% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
my-carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background: rgb(16,6,35);
        background: linear-gradient(326deg, rgba(16,6,35,1) 0%, rgba(61,11,26,1) 100%);">
            <!-- <div style="padding-top: 40%; padding-left: 10%;">
        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target=".bd-example-modal-xl">Know more</button>

      </div> -->

            <div class="carousel-item-screen">
                <div class="carousel-item-content">
                    <h1><b style="font-family: 'Nunito', serif;">Inplex </b>|
                        <span style="font-size: 1.4rem;">Create Your Profile</span>
                    </h1>
                    <br>
                </div>


            </div>
        </div>


    </div>

</div>
{% endblock carousel %} {% block content %}

<div class="container"><br><br>
    <h3>Create Your Inplex Profile </h3>
    <br><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.media }}
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.program|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.branch|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.year|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.selected_company|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.profile|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.linked_profile|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.number|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.resume|as_crispy_field }}
            </div>
        </div>

        {{ form.resource|as_crispy_field }}
        <!-- {{form.as_p}} -->


        <input type="submit" value="Submit" class="btn btn-large btn-primary">
    </form>
</div>
<br><br><br><br><br> {% endblock %}