 {% extends 'base.html' %} {% load bootstrap %} {% load crispy_forms_tags %} {% load static %} {% block title %} Inplex | Cepstrum {% endblock title %} {% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock head %} {% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Hind:300,400&family=Nunito:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@400;600;700;900&family=Nunito:wght@500&family=Pacifico&family=Poppins&display=swap');
    * {
        box-sizing: border-box;
    }
    
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    .accordion .accordion-item {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .accordion .accordion-item button[aria-expanded='true'] {
        border-bottom: 1px solid #03b5d2;
    }
    
    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #7288a2;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
    }
    
    .accordion-button {
        padding: 0 20px;
    }
    
    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
        color: #03b5d2;
    }
    
    .accordion button:hover::after,
    .accordion button:focus::after {
        cursor: pointer;
        color: #03b5d2;
        border: 1px solid #03b5d2;
    }
    
    .accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
    }
    
    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
    }
    
    .accordion button .icon::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }
    
    .accordion button .icon::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }
    
    .accordion button[aria-expanded='true'] {
        color: #03b5d2;
    }
    
    .accordion button[aria-expanded='true'] .icon::after {
        width: 0;
    }
    
    .accordion button[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 100%;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }
    
    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }
    
    .accordion .accordion-content p {
        font-size: 100%;
        font-weight: 300;
        margin: 2em 0;
    }
    
    .carousel-item {
        height: 50vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .carousel-item-content {
        /* margin-top: 20%;
  margin-left: 15%;
  margin-right: 30%; */
        font-size: 24px;
    }
    
    .carousel-item-screen {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 10% 7% 0 5%;
    }
</style>
{% endblock css %} {% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide my-carousel
my-carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <!-- <div class="carousel-item active" style="background-image: url('/static/inphase/cover.png') "> -->
        <div class="carousel-item active" style="background: rgb(16,6,35);
        background: linear-gradient(326deg, rgba(16,6,35,1) 0%, rgba(61,11,26,1) 100%);">
            <!-- <div style="padding-top: 40%; padding-left: 10%;">
        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target=".bd-example-modal-xl">Know more</button>

      </div> -->

            <div class="carousel-item-screen">
                <div class="carousel-item-content">
                    <h1><b style="font-family: 'Nunito', serif;">Inplex </b>|
                        <span style="font-size: 1.4rem;">Add Your Experiences</span>
                    </h1>
                    <br>
                </div>


            </div>
        </div>


    </div>

</div>
{% endblock carousel %} {% block content %}
<section class="container mt-5">
    <h1>Add Experience</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.media }}
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{ form.company|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.profile|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                <br><span style="display: flex">Selected :  &nbsp; {{ form.selected|as_crispy_field }}</span>
            </div>
        </div>
        <br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Add Round 1
            </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.roundtype1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.difficulty1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.experience1|as_crispy_field }}
                            </div>
                        </div>
                        <br>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          Add Round 2
                        </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-0">
                                            {{ form.roundtype2|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            {{ form.difficulty2|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            {{ form.experience2|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                  Add Round 3
                                </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="form-group col-md-6 mb-0">
                                                    {{ form.roundtype3|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                    {{ form.difficulty3|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                    {{ form.experience3|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                          Add Round 4
                                        </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-6 mb-0">
                                                            {{ form.roundtype4|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-6 mb-0">
                                                            {{ form.difficulty4|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-6 mb-0">
                                                            {{ form.experience4|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                                  Add Round 5
                                                </button>
                                                    </h2>
                                                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="form-group col-md-6 mb-0">
                                                                    {{ form.roundtype5|as_crispy_field }}
                                                                </div>
                                                                <div class="form-group col-md-6 mb-0">
                                                                    {{ form.difficulty5|as_crispy_field }}
                                                                </div>
                                                                <div class="form-group col-md-6 mb-0">
                                                                    {{ form.experience5|as_crispy_field }}
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                                             Add Round 6
                                                            </button>
                                                                </h2>
                                                                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                                                                    <div class="accordion-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-6 mb-0">
                                                                                {{ form.roundtype6|as_crispy_field }}
                                                                            </div>
                                                                            <div class="form-group col-md-6 mb-0">
                                                                                {{ form.difficulty6|as_crispy_field }}
                                                                            </div>
                                                                            <div class="form-group col-md-6 mb-0">
                                                                                {{ form.experience6|as_crispy_field }}
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="accordion-item">
                                                                            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                                                             Add Round 7
                                                            </button>
                                                                            </h2>
                                                                            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                                                                                <div class="accordion-body">
                                                                                    <div class="row">
                                                                                        <div class="form-group col-md-6 mb-0">
                                                                                            {{ form.roundtype7|as_crispy_field }}
                                                                                        </div>
                                                                                        <div class="form-group col-md-6 mb-0">
                                                                                            {{ form.difficulty7|as_crispy_field }}
                                                                                        </div>
                                                                                        <div class="form-group col-md-6 mb-0">
                                                                                            {{ form.experience7|as_crispy_field }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br>

        <input type="submit" value="Submit" class="btn btn-large btn-primary">

        <br><br>

        <br><br>
    </form>
</section>

<script>
    $(document).ready(function() {
        $(".select").select2();
    });
</script>

{% endblock content %}