<!-- .year-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(326deg, rgba(16,6,35,1) 0%, rgba(26,2,105,1) 100%);
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    overflow: hidden;
    position: relative;
  
} -->
{% block js %}
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60a8891d6f283957"></script> -->
<div class="container">
    <div class="header">{{object.owner.first_name}}</div>
    <div class="links">
        <div><a href="{{object.linked_in_profile}}">LinkedIn</a></div>
        <div><a href="{{object.resume}}">Resume</a></div>
    </div>
    <div class="details">
        <div>Branch-{{object.branch}}</div>
        <div>Program-{{object.program}}</div>
        <div>Year-{{object.year}}</div>
        <div>Ph. No.-{{object.number}}</div>
        <div>Profile-{{object.profile}}</div>
    </div>
    <div class="resources">
        <div>Resources</div>
        <div class="resources_conatiner">{{object.resource|safe}}</div>
    </div>
    <div class="experience_list">
        {% for i in exp %} {% if i.owner == object.owner %}
            <div>{{i.company}}</div>
            <div class="roundwise_experience">
                {% if i.experience1 != "" %}
                <div class="round_detail">
                    <div>Round 1</div>
                    <div>Round Type: {{i.roundtype1}}</div>
                    <div>Difficulty type: {{i.difficulty1}}</div>
                </div>
                <div class="desc">
                    {{i.experience1|safe}}
                </div>
                {% endif %}
                {% if i.experience2 != "" %}
                <div class="round_detail">
                    <div>Round 2</div>
                    <div>Round Type: {{i.roundtype2}}</div>
                    <div>Difficulty type: {{i.difficulty2}}</div>
                </div>
                <div class="desc">
                    {{i.experience2|safe}}
                </div>
                {% endif %}
                {% if i.experience3 != "" %}
                <div class="round_detail">
                    <div>Round 3</div>
                    <div>Round Type: {{i.roundtype3}}</div>
                    <div>Difficulty type: {{i.difficulty3}}</div>
                </div>
                <div class="desc">
                    {{i.experience3|safe}}
                </div>
                {% endif %}
                {% if i.experience4 != "" %}
                <div class="round_detail">
                    <div>Round 4</div>
                    <div>Round Type: {{i.roundtype4}}</div>
                    <div>Difficulty type: {{i.difficulty4}}</div>
                </div>
                <div class="desc">
                    {{i.experience4|safe}}
                </div>
                {% endif %}
                {% if i.experience5 != "" %}
                <div class="round_detail">
                    <div>Round 5</div>
                    <div>Round Type: {{i.roundtype5}}</div>
                    <div>Difficulty type: {{i.difficulty5}}</div>
                </div>
                <div class="desc">
                    {{i.experience5|safe}}
                </div>
                {% endif %}
                {% if i.experience6 != "" %}
                <div class="round_detail">
                    <div>Round 6</div>
                    <div>Round Type: {{i.roundtype6}}</div>
                    <div>Difficulty type: {{i.difficulty6}}</div>
                </div>
                <div class="desc">
                    {{i.experience6|safe}}
                </div>
                {% endif %}
                {% if i.experience7 != "" %}
                <div class="round_detail">
                    <div>Round 7</div>
                    <div>Round Type: {{i.roundtype7}}</div>
                    <div>Difficulty type: {{i.difficulty7}}</div>
                </div>
                <div class="desc">
                    {{i.experience7|safe}}
                </div>
                {% endif %}
            </div>

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock js %}

